<!-- Static navbar -->
<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" th:href="@{${config.home}}">
				<i class="icon-home"></i>
				[(${config.name})]
			</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li th:if="${config.onSiteContestId == null}"
					th:class="${currentUrl == 'Faqs'} ? active">
					<a th:href="@{/Faqs}">
						<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
						[(#{faq})]
					</a>
				</li>

				<li th:if="${config.onSiteContestId == null}"
					th:class="${currentUrl == 'ProblemSet'} ? active">
					<a th:href="@{/ProblemSet}">
						<span class="glyphicon glyphicon-book" aria-hidden="true"></span>
						[(#{problem})]
					</a>
				</li>

				<li th:if="${config.onSiteContestId == null}"
					th:class="${currentUrl == 'Category'} ? active">
					<a th:href="@{/Category}">
						<span class="glyphicon glyphicon-th" aria-hidden="true"></span>
						[(#{category})]
					</a>
				</li>
				<li th:if="${config.onSiteContestId == null}"
					th:class="${currentUrl == 'Status'} ? active">
					<a th:href="@{/Status}">
						<span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
						[(#{status})]
					</a>
				</li>
				<li th:if="${config.onSiteContestId == null}"
					th:class="${currentUrl == 'Ranklist'} ? active">
					<a th:href="@{/Ranklist}">
						<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
						[(#{ranklist})]
					</a>
				</li>
				<li th:class="${currentUrl == 'Contest'} ? active">
					<a
						th:href="${config.onSiteContestId == null} ? @{/Contest} : @{'/Contest?cid=' + ${config.onSiteContestId}}">
						<span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
						[(#{contest})]
					</a>
				</li>
				<li th:if="${cid != null}">
					<a>[</a>
				</li>
				<li th:if="${cid != null}" class="active">
					<a th:href="@{/Contest(cid=${cid})}" th:text="#{problem}"></a>
				</li>
				<li th:if="${cid != null}" class="active">
					<a th:href="@{/Status(cid=${cid})}" th:text="#{status}"></a>
				</li>
				<li th:if="${cid != null}" class="active">
					<a th:href="@{/ContestRank(cid=${cid})}" th:text="#{ranklist}"></a>
				</li>
				<li th:if="${cid != null}" class="active">
					<a th:href="@{/OIContestRank(cid=${cid})}"
						th:text="'OI' + #{ranklist}"></a>
				</li>
				<li th:if="${cid != null}" class="active">
					<a th:href="@{/ContestStatistics(cid=${cid})}"
						th:text="#{statistics}"></a>
				</li>
				<li th:if="${cid != null}">
					<a>]</a>
				</li>
				<li th:if="${config.onSiteContestId == null}"
					th:class="${currentUrl == 'ClassList'} ? active">
					<a th:href="@{/ClassList}">
						<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
						[(#{class-list})]
					</a>
				</li>
				<li th:if="${config.onSiteContestId == null}"
					th:class="${currentUrl == 'Statistics'} ? active">
					<a th:href="@{/Statistics}">
						<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
						[(#{statistics})]
					</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<span id="profile"></span>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu">
						<!-- 已登录情况下的列表  -->
						<li class="need-login">
							<a th:href="@{/Modify}" th:text="#{modify-info}"></a>
						</li>

						<li class="need-login">
							&nbsp;
							<a class="need-uid" th:href="@{/UserInfo?uid=}">
								<span id="red" th:text="#{user-info}"></span>
							</a>
						</li>
						<li class="need-login">
							&nbsp;
							<a class="need-uid" th:href="@{/Status?uid=}">
								<span id="red" th:text="#{my-submissions}"></span>
							</a>
						</li>
						<li class="need-login">
							&nbsp;
							<a th:href="@{/Contest?my}">
								<span id="red" th:text="#{my-contest}"></span>
							</a>
						</li>
						<li class="need-login">
							&nbsp;
							<a th:href="@{/ClassList?my}">
								<span id="red" th:text="#{my-class}"></span>
							</a>
						</li>
						<li class="need-login need-share-code">
							&nbsp;
							<a th:href='@{/ShareCodeList}'>
								<span id="red" th:text="#{share-code}"></span>
							</a>
						</li>
						<li class="need-login">
							&nbsp;
							<a th:href="@{/Logout}">
								<span id="red" th:text="#{logout}"></span>
							</a>
						</li>
						<!-- 未登录情况的列表 -->
						<li class="not-login">
							<a th:href="@{/Login}">
								<span id="red" th:text="#{login}"></span>
							</a>
						</li>
						<li class="not-login need-register">
							&nbsp;
							<a th:href="@{/Register}">
								<span id="red" th:text="#{register}"></span>
							</a>
						</li>
						<li class="need-login need-permission">
							&nbsp;
							<a th:href="@{/Admin/}">
								<span id="red" th:text="#{admin}"></span>
							</a>
						</li>
						<li>
							&nbsp;
							<script>
							var xmlHttp;
							if (window.XMLHttpRequest) {
								// code for IE7+, Firefox, Chrome, Opera, Safari
							    xmlHttp = new XMLHttpRequest();
							} else {
								// code for IE6, IE5
							    xmlHttp = new ActiveXObject("Microsoft.XMLHTTP");
							}
							xmlHttp.onreadystatechange = function() {
							    if (xmlHttp.readyState == 4) {
							    	var arr;
							    	if (xmlHttp.status == 200) {
							    		//200代表已登录
							    		var json = JSON.parse(xmlHttp.responseText);
								        arr = document.getElementsByClassName("not-login");
							        	document.getElementById("profile").innerHTML = json.uid;
							        	if (!json.shareCode) {
							        		document.getElementsByClassName("need-share-code")[0].remove();
							        	}
							        	if (!json.permission) {
							        		document.getElementsByClassName("need-permission")[0].remove();
							        	}
							        	var needUid = document.getElementsByClassName("need-uid");
							        	for (var i = 0; i < needUid.length; i++) {
							        		needUid[i].href += json.uid;
							        	}
							    	} else {
							    		arr = document.getElementsByClassName("need-login");
							        	document.getElementById("profile").innerHTML = "[(#{login})]";
							    	}
							    	while (arr.length != 0) {
							        	arr[0].remove();
							        }
							    }
							}
							xmlHttp.open("GET", "/api/Profile?" + Math.random(), true);
							xmlHttp.send();
							</script>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>