<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" th:href="@{/image/favicon.ico}">
<script th:src="@{/js/echarts.min.js}"></script>
<title th:text="${config.name}"></title>
<link th:replace="include/css">
<script th:replace="include/js"></script>
<script th:src="${config.cdnUrl} + @{/js/jquery.flot.js}"></script>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

	<div class="container">
		<div th:replace="include/nav"></div>
		<!-- Main component for a primary marketing message or call to action -->
		<div class="jumbotron">
			<div style="margin: 0 auto; width: 80%; text-align: center;">
				[(#{recent-submission} + ': ' + ${speed} + '/' + #{${speedUnit}})]
				<div id="submission" style="width: 100%; height: 300px"></div>
			</div>
			<h3 th:if="${news.size() == 0}" th:text="#{no-news-now}"></h3>
			<div th:if="${news.size() != 0}">
				<div class='panel panel-default' style='width: 80%; margin: 0 auto;'>
					<div class='panel-heading'>
						<h3 th:text="#{news}"></h3>
					</div>
					<div class='panel-body'>
						<div class='panel panel-default' th:each="singleNew : ${news}">
							<div class='panel-heading'>
								<span style="font-size: larger" th:text="${singleNew.title}"></span>
								-
								<span style="font-size: small" th:text="${singleNew.userId}"></span>
							</div>
							<div class='panel-body' th:text="${singleNew.content}"></div>
						</div>
					</div>
				</div>
			</div>
			<!-- /container -->
			<!-- Bootstrap core JavaScript
    ================================================== -->
			<!-- Placed at the end of the document so the pages load faster -->
			<script type="text/javascript">
				$(document).ready(function() {
					var d1 = [(${all})];
					var d2 = [(${ac})];
					$.plot($("#submission"), [{
						label: "[(#{submit})]",
						data: d1,
						lines: {
							show: true
						}
					}, {
						label: "[(#{ac})]",
						data: d2,
						bars: {
							show: true
						}
					}], {
						grid: {
							backgroundColor: {
								colors: ["#fff", "#eee"]
							}
						},
						xaxis: {
							mode: "time",
							timeformat: "%y/%m/%d"//,
							//max:(new Date()).getTime(),
							//min:(new Date()).getTime()-100*24*3600*1000
						}
					});
				});
			</script>
</body>
</html>